.DS_Store
build
docs
temp
images
vuepress
deploy.sh
dev.sh
doxybook.json
index.md
.idea
/example/*
!/example/*.cpp
!/example/*.hpp
!/example/*.h
!/example/makefile
!/example/km1_kKaHyPar_sea20.ini
*.sublime*
